.adminDashboard body > .wrapper {
    margin-top: 75px;
    padding-top: 20px;
}

.adminDashboard .content .blog .table {
    margin-top: 20px;
}

.adminDashboard .form input, .adminDashboard .form textarea {
    width: 100%;
}

.adminDashboard .content {
    margin-bottom: 20px;
}

.btnGroup {
    display: flex;
    gap: 10px;
}

html.blog {
    margin-top: 100px;
}

@media only screen and (max-width: 768px) {
    .btnGroup {
        flex-flow: column;
    }
}